body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  margin: 0;
  padding: 0;
}

.main  {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


/* Header */
.header {
  background-color: #1F2937;
  color: white;
}

.headertop {
  display: flex;
  justify-content: space-evenly;
  margin: 24px 0;
}

img[alt=mainlogo] {
  width: 300px;
  height: 100px;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
  display: inline-block;
  font-size: 20px;
}

.headerlist {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 36px;
  margin: 0;
  padding: 0;
  width: 300px;
}

.headerbottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 36px;
}

.hquote {
  width: 300px;
}

.signupbtn1, .signupbtn2 {
  height: 35px;
  width: 100px;
  align-self: center;
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 900;
}

img[alt=bigopengrill] {

}

/* Types of BBQ */

.hbbqtypes {
  text-align: center;
  margin: 0;
  padding: 0;
}

.bbqtypes {
  display: flex;
  justify-content: space-evenly;

}

.text {
  text-align: center;

}

.bbqimgs {
  width: 200px;
  height: 100px;
}

/* Quote section */

.quote {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
}

.quotetext {
  text-align: center;
  width: 300px;
}

.quoteauthor {
  text-align: end;
}

/* Mail list section */

.maillist {
  display: flex;
  justify-content: space-evenly;
  background-color: #3882F6;
  margin: 50px 150px 50px 150px;
}

.signupbtn2 {
  border: 2px solid white;
}

/* Footer section */

.footer {
  height: 72px;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}